.HeaderContainer{
    display: grid;
    grid-template-columns: 54.7vw 11.8vw 11.8vw 12vw;
    align-items: start;
    position: relative;    
    top: 8.9vmin;
    width: fit-content;
    left: 5.1vw;
    height: fit-content;
    user-select: none;
}

.HeaderLinksWrapper{
    display: grid;
    grid-template-columns: 11.8vw 11.8vw 12vw;
    width: fit-content;
}

.LogoStyles{
    width: 9.57vw;
    height: 4vh;

}
.LogoLink{
    height: fit-content;
    display: grid;
    width: fit-content;
}

.HeaderLinkStyle{
    background-color: #E6E9E8;
    text-decoration: none;
    font-size: 0.9vw;
    color: #565454;
    display: grid;
    grid-template-columns: 1.5vw 2.1vw;
    height: 4.6vmin;
    width: 11.2vw;
    border-radius: 1.1vmin;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 0vw;
    border: #E6E9E8 solid 0.1vmin;
    align-content: center;
    transition: all .2s;
    
}

 .Communityblock{
    grid-template-columns: 2.1vw 5.78vw;

}

.HeaderLinkStyle:hover{
    border: #79CE96 solid 0.1vmin;
    background-color: #79CE96;
}

.DocsIconStyle{
width: 1.6vw;
    height: 2.7vh;
}



.SpanLink{
    margin-top: 0.3vmin;
    
}

.ButtonAndLinkDiv{
display: grid;
}
.LaunchpadIconStyle{
    width: 2vw;
    height: 3vh;
}

.buttonZero{
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.HeaderLinkLaunchPadStyle{
    background-color: #E6E9E8;
    text-decoration: none;
    font-size: 0.9vw;
    color: #565454;
    display: grid;
   grid-template-columns: 1.3vw 5.23vw;

    height: 4.6vmin;
    width: 11.2vw;
    border-radius: 1.1vmin;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 0vw;
 border: #E6E9E8 solid 0.1vmin;    
    align-content: center;
    transition: all .2s;
    font-family: 'Prompt', sans-serif;
    
}
.HeaderLinkLaunchPadStyle:hover{
       
    background-color: #79CE96;
    border: #79CE96 solid 0.1vmin;
}

.HeaderLinkTokenomicStyle{
    background-color: #E6E9E8;
    text-decoration: none;
    font-size: 0.9vw;
    color: #565454;
    display: grid;
    grid-template-columns: 2vw 4.5vw;

    height: 4.6vmin;
    width: 11.2vw;
    border-radius: 1.1vmin;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 0vw;
 border: #E6E9E8 solid 0.1vmin;    
    align-content: center;
    transition: all .2s;
    font-family: 'Prompt', sans-serif;
}

.HeaderLinkTokenomicStyle:hover{
       
    background-color: #79CE96;
    border: #79CE96 solid 0.1vmin;
}

.TokenomicIconStyle{
    width: 2vw;
    height: 3vh;
}

.HomeLinkBtn{
    position: absolute;
    top: 8.9vmin;
    left: 48vw;
    display: grid;
    grid-template-columns: 1.8vw 2.2vw;
    align-items: center;
    align-content: center;
    user-select: none;
}

.HomeLinkBtn span{
margin-top: 0.57vmin;
}

.HomeIcon{
    width: 1.7vw;
    height: 3vh;
}

/*Styles for disabling buttons*/
.DisabledLink{
    filter: contrast(0.88);
    grid-template-columns: 2vw 6.5vw !important;
    cursor: default;
}
.DisabledLink:hover{
    background-color: #E6E9E8;
    border: #E6E9E8 solid 0.1vmin;  
}

.DisabledIcon{
    filter: contrast(0.47);
    margin-left: 0.1vw;
}
.DisabledSpan{
    
    filter: contrast(0.47);
}

.MobileHeader{
    display: none;
}

/*Mobile version*/

@media (max-width: 600px) {   
     .HeaderContainer {
        grid-template-columns: none;
        left: 32.5vw;
        position: relative;
        top: 4.5vh;

    }
    .MobileHeader{
        display: flex;
        position: absolute;
        top: 6vh;
        right: 12vw;
        height: 4vh;
        width: 2vw;
    }

    .MobileHeaderBurgerBtn {
        filter: contrast(0.1);
        transition: all .4s;
        width: 2vw;
        height: 2vh;
        scale: 3;

    }
    .MobileHeaderBurgerBtn:hover{
        filter: contrast(20);

    }

    .HomeLinkBtn{
        display: none;
    }
    .HeaderLinksWrapper{
        display: none;
    }

    .LogoStyles {
        height: 6vh;
        width: 33.57vw;
    }

    
/*Burger Menu*/
.BurgerMenuBlock{
    background-image: url(../Media/DuubleBg.webp);
    background-size: cover;
    width: 100vw;
    position: absolute;
    z-index: 9;
    height: max-content;
    width: 100%;
    animation: none;
}

.BurgerMenuItems{
    display: grid;
    justify-items: center;
    display: grid;
    justify-items: center;
    grid-template-rows: 45vmin 13vmin 13vmin 14vmin 229vmin;
    align-items: end;
}

.BurgerMenuLogo{
    top: 4.5vh;
    left: 32.5vw;
    position: absolute;
}

.HeaderLinkStyle{
    font-size: 2.9vw;
    color: #565454;
    display: grid;
    height: 9.6vmin;
    width: 50.2vw;
    border-radius: 1.1vmin;
    justify-items: center;
    grid-template-columns: 5.5vw 17.1vw;
}

.HomeIcon {
    width: 5.7vw;
    height: 3vh;
}

.DocsIconStyle {
    width: 5.6vw;
    height: 2.7vh;
}

.TokenomicIconStyle {
    width: 6vw;
    height: 3vh;
}

.LaunchpadIconStyle {
    width: 5vw;
    height: 3vh;
}

.DisabledLink{
    grid-template-columns: 7vw 19.5vw !important;
}


}