

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
  overflow-x: hidden;
  /*-ms-overflow-style: none;  /* IE and Edge */
   /*scrollbar-width: none;  /* Firefox */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Prompt', sans-serif;
  margin: 0;
}

ul, li{
  margin: 0;
  padding: 0;
}

::selection {
  background: #c9c9c9;
}

/*body::-webkit-scrollbar {
  display: none;
}*/


.App{
  display: grid;
  height:auto;
  grid-template-rows: 17vh 70vh 13vh;
  user-select: text;
  height: max-content;
  align-items: start;
}

.MainBackground{
  background-image: url(./Media/DuubleBg.webp);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  position: fixed;
  z-index: -1;
}

.DuubleBgStyle{
  width: 100%;
  height: 100vh;
  position: absolute;
  user-select: none;
  z-index: -999;
}

.AppearingAnimation {
  opacity: 0;
  animation: AppearingAnimation 1.2s forwards;
}

@keyframes AppearingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .App{
    grid-template-rows: 16vh 64vh 20vh;
  }

  .MainBackground{
    background-image: url(./Media/DuubleBg.webp);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    position: fixed;
    z-index: -1;
  }

  .no-scroll{
    overflow: hidden;
}
}